<div class="card mb-3">

    <!-- card header starts -->
    <div class="card-header d-flex justify-content-between align-items-center gap-2 color-text-primary color-bg-surface">
        <!-- =============== header left side : back btn and header starts =============== -->
        <div class="d-flex align-items-center gap-2 text-uppercase ">
            <a href="{% url 'homepage' %}" class="text-decoration-none d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 640 640"
            width="18"
            height="18"
            fill="currentColor"
            class="color-text-primary">
                <title>Back</title>
                <path d="M41.4 297.4C28.9 309.9 28.9 330.2 41.4 342.7L169.4 470.7C181.9 483.2 202.2 483.2 214.7 470.7C227.2 458.2 227.2 437.9 214.7 425.4L141.3 352L576 352C593.7 352 608 337.7 608 320C608 302.3 593.7 288 576 288L141.3 288L214.7 214.6C227.2 202.1 227.2 181.8 214.7 169.3C202.2 156.8 181.9 156.8 169.4 169.3L41.4 297.3z"/>
                </svg>
            </a>
            <span>Study Hub Chat</span>
        </div>
        <!-- =============== header left side : back btn and header ends =============== -->

        <!-- =============== header right side: host only actions starts =============== -->
        {% if room.host and request.user == room.host %}
            <div class="dropdown">
                <button class="btn btn-sm border-0 text-white" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                    </svg>
                </button>

                <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2"
                        href="{% url 'update-room' room.id %}"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                            <span>Edit</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2"
                        href="{% url 'delete-room' room.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg> 
                            <span>
                                Delete
                            </span> 
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <!-- =============== header right side: host only actions ends =============== -->
    </div>
    <!-- card header ends -->

    <!-- card body starts -->
    <div class="card-body color-bg-main p-4">
        <!-- =============== main room starts here =============== -->

        <!-- room header -->
        <div class="room-header d-flex justify-content-between align-items-start align-items-sm-center">
            <div class="room-name">
                <a href="{% url 'room' room.slug %}" class="text-decoration-none color-primary fw-medium ">{{room.name}}</a>
            </div>
            <div>
                <small  class="color-text-tertiary">{{room.created_at|timesince}} ago </small>
            </div>
        </div>

        <!-- room body -->
        <div class="room-body mt-2 mb-1">
            
            <p class="color-text-secondary fw-bold mb-1 pb-0" style="font-size: 15px;">Hosted by</p>
            <a href="" class="text-decoration-none color-primary"><i>@</i>{{room.host}}</a>
            

            <!-- =============== chatsection starts here =============== -->
            {% include 'base/room/comment_components.html' %}
            <!-- =============== chatsection ends here =============== -->

            <!-- =============== comment btn starts here =============== -->
            {% if request.user.is_authenticated %}
            <div class="comment-wrapper mt-3">

                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="Write your message here..." class="form-control form-input-custom ">

                    <button type="submit" class="send-btn">
                        <!-- Right arrow icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" height="16" width="16" fill="currentColor" class="color-text-primary">
                            <path d="M322.5 351.7L523.4 150.9L391 520.3L322.5 351.7zM489.4 117L288.6 317.8L120 249.3L489.4 117zM70.1 280.8L275.9 364.4L359.5 570.2C364.8 583.3 377.6 591.9 391.8 591.9C406.5 591.9 419.6 582.7 424.6 568.8L602.6 72C606.1 62.2 603.6 51.4 596.3 44C589 36.6 578.1 34.2 568.3 37.7L71.4 215.7C57.5 220.7 48.3 233.8 48.3 248.5C48.3 262.7 56.9 275.5 70 280.8z"/>
                        </svg>
                    </button>

                </form>
            </div>
            {% endif %}
            <!-- =============== comment btn ends here =============== -->

        </div>
        <!-- =============== main room ends here =============== -->
    </div>

</div>