{% extends 'base/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/style.css' %}">
<link rel="stylesheet" href="{% static 'css/authentication/password_reset.css' %}">
{% endblock %}


{% block content %}
<section id="password-reset" class="">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">

                {% if validlink %}

                    <h1 class="color-text-primary mb-3">Enter New Password</h1>
                    <p class="color-text-tertiary">Please enter your new password twice so we can verify you typed it in correctly.</p>
                    <form action="" method="POST">
                        {% csrf_token %}

                        <!-- =============== new password field =============== -->
                        <div class="mb-3 position-relative reset-password-div">
                            <label for="password" class="form-label">New Password :</label>
                                {{form.new_password1}}
                            <span class="toggle-password">
                                <i class="fa-solid fa-eye"></i>
                            </span>

                            {% if form.new_password1.errors %}
                                <p class="color-text-secondary">
                                    <i>{{ form.new_password1.errors.0 }}</i>
                                </p>
                            {% endif %}
                        </div>

                        <!-- =============== confirm password field =============== -->
                        <div class=" position-relative reset-password-div">
                            <label for="password" class="form-label">Confirm Password :</label>
                                {{form.new_password2}}
                            <span class="toggle-password">
                                <i class="fa-solid fa-eye"></i>
                            </span>

                            {% if form.new_password2.errors %}
                                <p class="color-text-secondary">
                                    <i>{{ form.new_password2.errors.0 }}</i>
                                </p>
                            {% endif %}

                        </div>

                        <div class="mt-4">
                            <button type="submit" class="my-btn">Change Password</button>
                        </div>

                    </form>

                {% else %}
                    <div class="color-text-primary text-center">
                        This reset link is invalid or expired.
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'scripts/authentication/script.js' %}"></script>
{% endblock %} 