{% extends 'base/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/password_reset.css' %}">
{% endblock %}


{% block content %}
<section id="password-reset" class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <h1 class="color-text-primary mb-3">Password Reset Complete</h1>
                <p class="color-text-tertiary mb-3">Your password has been set. You may go ahead and log in now.</p>
                <a href="{% url 'login' %}" class="color-primary login-btn">Login</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}