nav{
    display: none !important;
}

p{
    font-size: 0.9rem;
}

#password-reset .form-label{
    font-size: 0.9rem;
}

#password-reset .my-btn{
    padding: 6px 18px;
    font-size: 0.9rem;
    transition: 0.4s;
}

#password-reset .my-btn:hover{
    background-color: var(--color-btn-secondary);
    color: var(--color-text-primary);
}

#password-reset .form-input-custom{
    width: 30%;
}

.reset-password-div{
    width: 30%;
}

#password-reset .reset-password-div .form-input-custom{
    width: 100%;
}


@media screen and (max-width:992px) {
    #password-reset .form-input-custom{
        width: 50%;
    }

    .reset-password-div{
        width: 50%;
    }

    #password-reset .reset-password-div .form-input-custom{
        width: 100%;
    }
}



@media screen and (max-width:400px) {
    #password-reset .form-input-custom{
        width: 80%;
    }

    .reset-password-div{
        width: 80%;
    }

    #password-reset .reset-password-div .form-input-custom{
        width: 100%;
    }
}

#password-reset .toggle-password{
    position: absolute;
    top: 38px;
    right: 12px;
    cursor: pointer;
    color: var(--color-neutral-hover);
    z-index: 10;
}


#password-reset .login-btn{
    text-decoration: none;
    transition: var(--transition);
    font-size: 0.95rem;
    padding-bottom: 0.20rem;
    position: relative;
}

#password-reset .login-btn::after{
    content : '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0%;
    height: 1px;
    background-color: var(--color-primary);
    transition: var(--transition);
}

#password-reset .login-btn:hover::after{
    width: 100%;
    left: 0;
}