
{% if room_messages %}
<div class="chat-room p-3 mt-4">
    {% for message in room_messages %}
    <div class=" py-1 ps-3 comment">
        <div class="d-flex justify-content-between">
            <!-- =============== left side : user info starts =============== -->
            <div class="d-flex gap-2 gap-md-4 align-items-start align-items-md-center comment-header">
                <a href="" class="text-decoration-none color-primary message-sender">@{{message.user}}</a>
                <small class="color-text-secondary">
                    Sent on {{ message.created_at|timesince }} ago
                </small>
            </div>
            <!-- =============== left side : user info ends =============== -->

            <!-- =============== right side : user actions starts =============== -->
            {% if request.user == message.user %}
                <div class="dropdown">
                    <!-- dropdown button -->
                    <button class="btn btn-sm border-0 text-white" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                    </svg>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                        <li>
                            <!-- trigger modal -->
                            <button class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#editMessage{{ message.id }}">
                                Edit
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#deleteMessage{{ message.id }}">
                                Delete
                            </button>
                        </li>
                    </ul>
                </div>
            <!-- =============== right side : user actions starts =============== -->


            <!-- =============== update offcanvas starts here =============== -->
            {% include 'base/components/update_message.html' %}
            <!-- =============== update offcanvas ends here =============== -->



            <!-- =============== delete offcanvas starts here =============== -->
            {% include 'base/components/delete_message.html' %}
            <!-- =============== delete offcanvas ends here =============== -->
            {% endif %}
            
        </div>

        <p class="my-1 pb-0 color-text-tertiary">{{message.body}}</p>
    </div>
    {% endfor %}

</div>
{% endif %}