

<div class="card mb-3">

    <!-- card header starts -->
    <div class="card-header d-flex align-items-center gap-2 color-text-primary color-bg-surface">
        PARTICIPANTS <small class="color-primary fw-semibold">({{total_participant}} joined)</small>
    </div>
    <!-- card header ends -->

    <!-- card body starts -->
    <div class="card-body color-bg-main p-4">
        {% for user in participants %}
            <div>
                <a href="{% url 'user-profile' user.username %}" >@{{user.username}}</a>
            </div>
        {% endfor %}
    </div>
    <!-- card body ends -->
</div>