/* reset code and common code starts here */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primary-color: #56A5AB;
    --secondary-color : #fff;
    --tertiary-color :#000;
}


/* reset code and common code ends here */