/* ========== reset code and common code starts here ========== */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "DM Sans", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root{
    /* Brand & accents */
    --color-primary: #57BBDD; 

    /* Text */
    --color-text-primary: #ffffff;  
    --color-text-secondary: #8B8FA6; 

    /* Surfaces & backgrounds */
    --color-bg-main: #3F4156; 
    --color-bg-surface: #51546E;

    /* UI details */
    --color-btn-primary: #0F172A; 

    /* border radius */
    --border-radius: 5px;
}

.color-primary{
    color: var(--color-primary);
}

.color-text-primary{
    color: var(--color-text-primary);
}

.color-text-secondary{
    color: var(--color-text-secondary);
}

.color-bg-main{
    background-color: var(--color-bg-main);
}

.color-bg-surface{
    background-color: var(--color-bg-surface);
}

h2{
    font-size: 0.95rem;
    line-height: 1.5rem;
}

.card{
    border: none;
    border-radius: 6px;
}

.card-header{
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.card-body{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
/* ========== reset code and common code ends here ========== */


/* ========== nav starts ========== */
nav{
    background-color: var(--color-bg-main);
    background-color: #3F4156;
}

.navbar-brand{
    height: 45px;
}

.navbar-brand img{
    height: 100%;
}

nav h1{
    vertical-align: middle; 
    letter-spacing: 0.002rem;
}

nav .form-control{
    background-color: var(--color-bg-surface);
    border: none;
}

nav .form-control input {
    border: none;
    padding: 5px;
    background-color: var(--color-bg-surface);
    caret-color: var(--color-text-primary);
    color: var(--color-text-primary);
    flex: 1;
    min-width: 0;
}

nav .navbar-search::placeholder, nav svg{
    color: #c0c0c0;
    opacity: 1;
}

nav .navbar-search-form{
    margin-left: 70px;
    width: 320px;
}

nav .login-btn{
    color: #c0c0c0;
    vertical-align: middle;
}

h1{
    font-size: 1.35rem;
}

/* ========== nav ends ========== */

/* ========== Dark mode toggle starts ========= */
.dark-toggle {
    display: flex;
    align-items: center;
}

.dark-toggle input {
    display: none;
}

.dark-toggle label {
    width: 2.25rem;
    height: 1.156rem;
    background: #626685;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
}

.dark-toggle label::after {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0.19rem;
    left: 3px;
    transition: all 0.3s ease;
}

.dark-toggle input:checked + label {
    background: var(--color-primary);
}

.dark-toggle input:checked + label::after {
    left: 1.25rem;
    top: 0.19rem;
}

[data-theme="dark"] {
  background-color: #24242d !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #24242d !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

/* ========== Dark mode toggle ends ========= */
