/* ========== reset code and common code starts here ========== */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "DM Sans", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root{
    --primary-color: #56A5AB;
    --secondary-color : #fff;
    --tertiary-color :#000;

    --background-color: #3F4156;
}


/* ========== reset code and common code ends here ========== */


/* ========== nav starts ========== */
nav{
    background-color: var(--background-color);
    background-color: #3F4156;
}

.navbar-brand{
    height: 45px;
}

.navbar-brand img{
    height: 100%;
}

nav h1{
    vertical-align: middle; 
    letter-spacing: 0.002rem;
}

nav .form-control{
    background-color: #51546E;
    border: none;
}

nav .form-control input {
    border: none;
    padding: 5px;
    background-color: #51546E;
    caret-color: var(--secondary-color);
    color: var(--secondary-color);
    flex: 1;
    min-width: 0;
}

nav .navbar-search::placeholder, nav svg{
    color: #c0c0c0;
    opacity: 1;
}

nav .navbar-search-form{
    margin-left: 70px;
    width: 320px;
}

nav .login-btn{
    color: #c0c0c0;
    vertical-align: middle;
}

h1{
    font-size: 1.35rem;
}

/* ========== nav ends ========== */

/* ========== Dark mode toggle starts ========= */
.dark-toggle {
    display: flex;
    align-items: center;
}

.dark-toggle input {
    display: none;
}

.dark-toggle label {
    width: 2.25rem;
    height: 1.156rem;
    background: #626685;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
}

.dark-toggle label::after {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0.19rem;
    left: 3px;
    transition: all 0.3s ease;
}

.dark-toggle input:checked + label {
    background: var(--primary-color);
}

.dark-toggle input:checked + label::after {
    left: 1.25rem;
    top: 0.19rem;
}

[data-theme="dark"] {
  background-color: #2D2D39 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

/* ========== Dark mode toggle ends ========= */
