/* ========== reset code and common code starts here ========== */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 0.002rem;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "DM Sans", sans-serif;
    background-color: #2d2d39;
}

:root{
    /* Brand & accents */
    --color-primary: #57BBDD; 

    /* Text */
    --color-text-primary: #ffffff;  
    --color-text-secondary: #8B8FA6; 
    --color-text-tertiary: #a7acbd; 

    /* Surfaces & backgrounds */
    --color-bg-main: #3F4156; 
    --color-bg-surface: #51546E;

    /* UI details */
    --color-btn-primary: #0F172A; 
    --color-btn-secondary : #4fa7c4;

    /* border radius */
    --border-radius: 5px;

    /* transition */
    --transition : 0.3s;
}

.color-primary{
    color: var(--color-primary);
}

.color-text-primary{
    color: var(--color-text-primary);
}

.color-text-secondary{
    color: var(--color-text-secondary);
}

.color-text-tertiary{
    color: #a7acbd;
}

.color-bg-main{
    background-color: var(--color-bg-main);
}

.color-bg-surface{
    background-color: var(--color-bg-surface);
}

h2{
    font-size: 0.95rem;
    line-height: 1.5rem;
}

.card{
    border: none;
    border-radius: 6px;
}

.card-header{
    font-size: 0.95rem;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.card-body{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.my-btn{
    background-color: #6BB7CD;
    color: var(--color-btn-primary);
    display: inline-block;
    padding: 10px 18px;
    border: none;
    border-radius: var(--border-radius);
    font-weight: 500;
    transition: var(--transition);
}

.my-btn:hover{
    background-color: var(--color-btn-secondary);
}

.btn:focus,
.btn:active,
.form-control:focus {
    outline: none !important;    
    box-shadow: none !important;    
}

/* ===== Common input + textarea ===== */
.form-label{
    color: var(--color-text-tertiary);
    font-size: 0.95rem;
}

.form-input-custom {
    background-color: #474A63;
    color: #e5e7eb;
    border: 1px solid #374151;
}

.form-input-custom::placeholder {
    color: #9ca3af;
}

/* ===== Topic select ===== */
.form-select-custom {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: #474A63;
    color: #e5e7eb;
    border: 1px solid #374151;

    padding-right: 40px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23e5e7eb'%3E%3Cpath d='M7 10l5 5 5-5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
}

/* ===== Focus state (all fields) ===== */
.form-input-custom:focus,
.form-select-custom:focus {
    background-color: #474A63;
    color: #e5e7eb;
    border-color: var(--color-btn-secondary);
    box-shadow: 0 0 0 0.15rem rgba(56, 189, 248, 0.25);
}
/* ========== reset code and common code ends here ========== */


/* ========== nav starts ========== */
nav{
    background-color: var(--color-bg-main);
    background-color: #3F4156;
}

.navbar-brand{
    height: 45px;
}

.navbar-brand img{
    height: 100%;
}

nav h1{
    vertical-align: middle; 
    letter-spacing: 0.002rem;
}

nav .form-control{
    background-color: var(--color-bg-surface);
    border: none;
}

nav .form-control input {
    border: none;
    padding: 5px;
    background-color: var(--color-bg-surface);
    caret-color: var(--color-text-primary);
    color: var(--color-text-primary);
    flex: 1;
    min-width: 0;
}

nav .navbar-search::placeholder, nav svg{
    color: #c0c0c0;
    opacity: 1;
}

nav .navbar-search-form{
    margin-left: 70px;
    width: 320px;
}

nav .login-btn{
    color: #c0c0c0;
    vertical-align: middle;
}

h1{
    font-size: 1.35rem;
}

/* ========== nav ends ========== */
