
/* =============== xxl screen =============== */
@media screen and (max-width: 1400px) {
    
}



/* =============== xl screen =============== */
@media screen and (max-width: 1200px) {
    
}



/* =============== large screen =============== */
@media screen and (max-width: 992px) {
    nav .search-bar {
        width: 250px;
        margin-left: 30px !important;
    }

    h1{
        font-size: 1.25rem;
    }
}




/* =============== medium screen  =============== */ 
@media (max-width: 768px) {

    h1{
        display: none;
    }

    .navbar-brand{
        height: 40px;
    }

    nav .form-control input {
        padding: 3px;
    }

    nav .search-bar {
        width: 250px !important;
    }

    .dark-toggle label {
        width: 2rem;
        height: 1.01rem;
    }

    .dark-toggle label::after {
        width: 0.75rem;
        height: 0.75rem;
        top: 0.129rem;
        left: 3px;
    }

    .dark-toggle input:checked + label::after {
        top: 0.12965rem;
        left: 1.05rem;
    }

}




/* =============== small screen =============== */
@media screen and (max-width: 576px) {

    nav .search-bar{
        display: none !important;
    }

}



/* =============== smaller screen =============== */
@media screen and (max-width: 400px) {

    
}