/* xxl screen */
@media screen and (max-width: 1400px) {
    
}


/* xl screen */
@media screen and (max-width: 1200px ) {
    
}



/* large screen */
@media screen and (max-width: 992px) {
    .navbar-search-form {
        width: 250px;
        margin-left: 30px !important;
    }

    h1{
        font-size: 1.25rem;
    }
}



/* medium screen */
@media (max-width: 768px) {

    h1{
        display: none;
    }

    .navbar-brand{
        height: 40px;
    }

    nav .form-control input {
        padding: 3px;
    }

    .navbar-search-form {
        width: 230px !important;
    }
}



/* small screen */
@media screen and (max-width: 576px) {

    nav .navbar-search-form{
        display: none !important;
    }

}


/* smaller screen */
@media screen and (max-width: 400px) {

    
}