/* xxl screen */
@media screen and (max-width: 1400px) {
    
}


/* xl screen */
@media screen and (max-width: 1200px ) {
    
}



/* large screen */
@media screen and (max-width: 992px) {
    
}



/* medium screen */
@media (max-width: 768px) {
    
}



/* small screen */
@media screen and (max-width: 576px) {
    
}


/* smaller screen */
@media screen and (max-width: 400px) {
    
}