
/* =============== xxl screen =============== */
@media screen and (max-width: 1400px) {
    
}



/* =============== xl screen =============== */
@media screen and (max-width: 1200px) {
    
}



/* =============== large screen =============== */
@media screen and (max-width: 992px) {
    nav .search-bar {
        width: 300px;
        margin-left: 30px !important;
    }

    h1{
        font-size: 1.25rem;
    }
}




/* =============== medium screen  =============== */ 
@media screen and (max-width: 768px) {

    .navbar-brand{
        height: 40px;
    }

    nav .form-control input {
        padding: 3px;
    }

    nav .search-bar {
        display: none !important;
    }

     .message-sender{
        font-size: 0.9rem !important;
    }

}




/* =============== small screen =============== */
@media screen and (max-width: 576px) {
    .room-header{
        flex-direction: column;
    }

   
}



/* =============== smaller screen =============== */
@media screen and (max-width: 400px) {

    
}