{% extends 'base/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/users/style.css' %}">
{% endblock %}

{% block content %}
<!-- =============== change password section starts here =============== -->
<main class="account-settings d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-xl-7 mx-auto">
                <div class="d-flex">
                    <div class="row g-0 settings-card" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);">

                        <!-- =============== settings sidebar starts here =============== -->
                        <div class="col-2 col-md-3 color-bg-surface settings-sidebar">

                            <!-- =============== Settings back icon =============== -->
                            <div class="settings-header">
                                <a href="javascript:history.back()"  class="text-decoration-none " style="color: var(--color-text-primary)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                    </svg>
                                </a>
                            </div>
                            
                            <!-- =============== settings links starts here =============== -->
                            <div class="settings-links">
                                <ul class="mb-0 ps-0 ">
                                    <!-- =============== general =============== -->
                                    <li class="mt-4 mb-2">
                                        <a href="{% url 'user-edit' request.user.username %}" class="setting-link d-flex align-items-center gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                                            </svg>
                                            <span>General </span>
                                        </a>
                                    </li>
                                    <!-- =============== security =============== -->
                                    <li class="mb-2">
                                        <a href="{% url 'change-password'  %}" class="setting-link d-flex align-items-center gap-2 active">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                                <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2M2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                                            </svg>
                                            <span>Security</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- =============== settings link ends here =============== -->

                        </div>
                        <!-- =============== settings sidebar ends here =============== -->

                        
                        <!-- =============== settings main starts here =============== -->
                        <div class="col-10 col-md-9 color-bg-main settings-main">

                            <!-- =============== settings main header =============== -->
                            <div>
                                <h5 style="border-bottom: 1px solid var(--color-neutral);" class="pb-2 color-text-tertiary fw-semibold">Change Password</h5>
                            </div>

                            <!-- =============== settings form starts here =============== -->
                            <form action="" method="POST">
                                {% csrf_token %}

                                <!-- =============== current password =============== -->
                                <div class="mb-3 position-relative">
                                    <label for="password" class="form-label">Current Password</label>
                                        {{form.old_password}}
                                    <span class="toggle-password">
                                        <i class="fa-solid fa-eye"></i>
                                    </span>

                                    {% if form.old_password.errors %}
                                        <div class="text-white-50 small mt-1 fst-italic error-msg">
                                            {{ form.old_password.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- =============== New password =============== -->
                                <div class="mb-3 position-relative">
                                    <label for="password" class="form-label">New Password</label>
                                        {{form.new_password1}}
                                    <span class="toggle-password">
                                        <i class="fa-solid fa-eye"></i>
                                    </span>

                                    {% if form.new_password1.errors %}
                                        <div class="text-white-50 small mt-1 fst-italic error-msg">
                                            {{ form.new_password1.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- =============== confirm password =============== -->
                                <div class="mb-3 position-relative">
                                    <label for="password" class="form-label">Confirm New Password</label>
                                        {{form.new_password2}}
                                    <span class="toggle-password">
                                        <i class="fa-solid fa-eye"></i>
                                    </span>

                                    {% if form.new_password2.errors %}
                                        <div class="text-white-50 small mt-1 fst-italic error-msg">
                                            {{ form.new_password2.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- =============== submit button =============== -->
                                 <button type="submit" class="btn w-100 mt-2 update-btn">Update</button>
                                
                            </form>
                            <!-- =============== settings form ends here =============== -->

                        </div>
                        <!-- =============== settings main ends here =============== -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
<!-- =============== change password section ends here =============== -->

{% block script %}
<script src="{% static 'scripts/authentication/script.js' %}"></script>
{% endblock %} 