
<aside id="activity-components">
    <!-- =============== top host section starts here =============== -->
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header text-uppercase color-text-primary color-bg-surface ">top hosts</div>
        <div class="card-body color-bg-main">

        </div>
    </div>
    <!-- =============== top host section ends here =============== -->


    <!-- =============== recent activity section starts here =============== -->
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header text-uppercase color-text-primary color-bg-surface">recent activities</div>
        <div class="card-body color-bg-main">

        </div>
    </div>
    <!-- =============== recent activity section ends here =============== -->
</aside>