
{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<!-- =============== Room create form starts =============== -->

<section id="room-creation">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="create-form">

                    <!-- card header starts -->
                    <div class="card text-bg-secondary mb-3">
                        <div class="card-header d-flex align-items-center gap-2 text-uppercase color-text-primary color-bg-surface">
                            <a href="{% url 'homepage' %}" class="text-decoration-none d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                viewBox="0 0 640 640"
                                width="18"
                                height="18"
                                fill="currentColor"
                                class="color-text-primary">
                                    <title>Back</title>
                                    <path d="M41.4 297.4C28.9 309.9 28.9 330.2 41.4 342.7L169.4 470.7C181.9 483.2 202.2 483.2 214.7 470.7C227.2 458.2 227.2 437.9 214.7 425.4L141.3 352L576 352C593.7 352 608 337.7 608 320C608 302.3 593.7 288 576 288L141.3 288L214.7 214.6C227.2 202.1 227.2 181.8 214.7 169.3C202.2 156.8 181.9 156.8 169.4 169.3L41.4 297.3z"/>
                                    </svg>
                            </a>
                            <span>Create study room</span>
                        </div>
                        <!-- card header ends -->

                        <!-- card body starts -->
                        <div class="card-body color-bg-main p-4">
                            <form action="" method="POST">
                                    {% csrf_token %}
                                    
                                    <div class="mb-4">
                                        <label class="form-label">Room Name</label>
                                        {{form.name}}
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label">Topic</label>
                                        {{form.topic}}
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label">About</label>
                                        {{form.description}}
                                    </div>

                                    <div style="margin-top: 30px;">
                                        <button type="submit" class="my-btn">Create Room</button>
                                    </div>
                            </form>
                        </div>
                        <!-- card body ends -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =============== Room create form ends =============== -->


{% endblock %}