{% block css %}
<style>

    h3{
        font-size: 0.95rem;
        color : var(--color-text-secondary);
    }

    .room-name__container{
        border-bottom: 1px solid var(--color-bg-surface);
    }

    .room-name{
        color: var(--color-text-primary);
        transition: var(--transition);
        font-size: 1.25rem;
    }

    .room-name:hover{
        color: var(--color-primary);
    }

    .topic-name{
        font-size: 0.85rem;
    }

    .tabs a{
        font-size: 0.85rem;
        border: 2px solid var(--color-btn-secondary);
        display: inline-block;
        padding: 5px 20px;
        transition: var(--transition);
    }

    .tabs a:hover{
        background-color: var(--color-btn-secondary);
        color: var(--color-btn-primary);
    }

    .feed-components .small-screen-header{
        display: none;
    }

    .dropdown-menu{
        --bs-dropdown-min-width: 6rem;
        --bs-dropdown-bg: var(--color-text-primary);
    }

    .dropdown-item, .dropdown-item:hover, .dropdown-item:active, .dropdown-item:visited{
        color: var(--color-btn-primary);
        background-color: var(--color-text-primary) !important;
    }

    @media screen and (max-width: 768px) {
        .feed-components .small-screen-header{
            display: block;
        }   
    }

</style>
{% endblock %}


<section class="feed-components">

    <!-- =============== Mobile view: Feed with tabs for Topics and Activity starts =============== -->
    <div class="small-screen-header">

        <!-- search bar starts -->
        <form  method="GET" action="{% url 'homepage' %}" role="search" class="d-flex align-items-center search-bar">
            <div class="form-control form-control-sm d-flex align-items-center w-100">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 640 640"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class=" ms-2 me-1 ">
                    <title>Search</title>
                    <path d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z"/>
                    </svg>
                <input type="search" name="q"  placeholder="Search for rooms" aria-label="search" class="search-input">
            </div>
        </form>
        <!-- search bar ends -->

        <!-- topics and activity tab starts -->
        <div class="d-flex align-items-center justify-content-center gap-3 my-4 tabs">
            <a href="{% url 'browse-topics' %}" class="text-decoration-none color-primary fw-semibold rounded-5">Browse Topics</a>
            <a href="" class="text-decoration-none color-primary fw-semibold rounded-5">Recent Activity</a>
        </div>
        <!-- topics and activity tab ends -->

    </div>
    <!-- =============== Mobile view: Feed with tabs for Topics and Activity ends =============== -->


    <!-- =============== Feed header starts here =============== -->
    <div class="d-flex justify-content-between pt-2">
        <!-- available rooms starts -->
        <div class="col-6">
            <h2 class="text-uppercase mb-1 color-text-primary">Rooms</h2>
            <h3>{{room_count}} Rooms available</h3>
        </div>
        <!-- available rooms ends -->

        <!-- add room btn starts -->
        <div class="col-6">
            <div class="d-flex justify-content-end align-items-end">
                <a href="{% url 'create-room' %}" class="d-flex justify-content-center align-items-center text-decoration-none my-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 640 640"
                        width="18"
                        height="18"
                        class="me-2"
                        fill="currentColor">
                        <title>add</title>
                        <path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z"/>
                    </svg>
                    Create Room
                </a>
            </div>
        </div>
        <!-- add room btn ends -->
    </div>
    <!-- =============== feed header ends here =============== -->


    <!-- =============== main feed starts here =============== -->
    <div class="mt-3">
        <h3 class="color-primary">All Rooms</h3>

        <!-- rooms -->
        {% for room in rooms %}
            <div class="color-bg-main mb-4 rounded-2">
                <div class="px-4 py-3">
                    <!-- =============== host, time, action starts =============== -->

                    <div class="room-card-header d-flex justify-content-between align-items-start">

                        <!-- LEFT: host -->
                        <div class="small">
                            <a href="" class="color-primary">
                                Host <span class="fw-semibold">@{{ room.host.username }}</span>
                            </a>
                        </div>

                        <!-- RIGHT: time + actions -->
                        <div class="d-flex align-items-center gap-3">

                            <!-- timesince -->
                            <small class="color-text-primary">
                                {{ room.created_at|timesince }} ago
                            </small>

                            <!-- host-only actions -->
                            {% if request.user == room.host %}
                            <div class="dropdown">
                                <button class="btn btn-sm border-0 text-white" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                    </svg>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center gap-2"
                                        href="{% url 'update-room' room.id %}"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                            </svg>
                                            <span>Edit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center gap-2"
                                        href="{% url 'delete-room' room.id %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                            </svg> 
                                            <span>
                                                Delete
                                            </span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}

                        </div>
                    </div>

                    <!-- =============== host, time, action ends =============== -->

                    
                    <!-- room name -->
                    <div class="pb-3 room-name__container">
                        <a href="{% url 'room' room.slug %}" class="text-decoration-none room-name">{{room.name}}</a>
                    </div>
                    <!-- topic name -->
                    <div class="d-flex justify-content-end mt-2">
                        <span class="color-bg-surface py-1 px-3 rounded-4 topic-name color-text-tertiary">{{room.topic}}</span>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
    
    <!-- =============== main feed ends here =============== -->
</section>
