{% extends 'base/main.html' %}
{% block css %}

<style>

    .small-screen__activity{
        display: none;
    }

    @media screen and (max-width: 992px) {
        .activity-section{
            display: none;
        }

        .small-screen__activity{
            display: block;
        }
    }

    @media screen and (max-width: 768px) {
        .topic-section{
            display: none;
        }
    }
</style>

{% endblock %}
{% block content %}

<main class="container">
    <div class="row">

        <!-- ========== homepage topic components starts here ========== -->
        <aside class="col-md-4 col-lg-3 g-4 topic-section">
            {% include 'base/components/topic_components.html' %}
            <div class="small-screen__activity">
                {% include 'base/components/activity_components.html' %}
            </div>
        </aside>
        <!-- ========== homepage topic components starts here ========== -->

        <!-- ========== feed components starts here ========== -->
        <main class="col-md-8 col-lg-6 g-4"> 
            {% include 'base/components/feed_components.html' %}
        </main>
        <!-- ========== feed_components ends here ========== -->

        <!-- ========== activity starts here ========== -->
        <aside class="col-lg-3 g-4 activity-section">
            {% include 'base/components/host_components.html' %}
            {% include 'base/components/activity_components.html' %}
        </aside>
        <!-- ========== activity ends here ========== -->

    </div>
</main>

{% endblock %}