{% extends 'base/main.html' %}

{% block content %}

<main class="container">
    <div class="row">

        <!-- ========== homepage topic components starts here ========== -->
        <div class="col-lg-3 g-4">
            {% include 'base/topic_components.html' %}
        </div>
        <!-- ========== homepage topic components starts here ========== -->

        <!-- ========== feed components starts here ========== -->
        <div class="col-lg-6 g-4">
            {% include 'base/feed_components.html' %}
        </div>
        <!-- ========== feed_components ends here ========== -->

        <!-- ========== activity starts here ========== -->
        <div class="col-lg-3 g-4">
            {% include 'base/activity_components.html' %}
        </div>
        <!-- ========== activity ends here ========== -->

    </div>
</main>

{% endblock %}