{% extends 'base/main.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/authentication/style.css' %}">
{% endblock %}

{% block content %}

<!-- =============== login section starts  =============== -->
<section id="login-page">
    <div class="container my-5">
        <div class="row">
            <div class="px-4 px-sm-0 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <div class="card  mb-3">

                    <!-- card header starts -->
                    <div class="card-header text-center color-text-primary color-bg-surface">
                        LOGIN
                    </div>
                    <!-- card header ends -->

                    <!-- card body starts -->
                    <div class="card-body color-bg-main">
                        <h2 class="text-center color-primary">Find your study partner</h2>
                        <!-- =============== form =============== -->
                        <form action="" method="POST" class="mt-4">
                                {% csrf_token %}
                                
                                <!-- =============== email field =============== -->
                                <div class="mb-4">
                                    <label for="email" class="form-label">Email Address</label>
                                    <input type="text" name="email" id="email" class="form-control form-input-custom" placeholder="e.g. johndoe@gmail.com">
                                </div>

                                <!-- =============== password field =============== -->
                                <div class="mb-3 position-relative">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" name="password" id="password" class="form-control form-input-custom" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
                                    <span class="toggle-password">
                                        <i class="fa-solid fa-eye"></i>
                                    </span>
                                </div>


                                <!-- =============== error messages starts =============== -->
                                <div class="text-center error-msg">
                                    {% for message in messages %}
                                        <p class="mb-2 text-center color-text-primary">{{message}}</p>
                                    {% endfor %}
                                </div>
                                <!-- =============== error messages ends =============== -->

                                
                                <!-- =============== login btn =============== -->
                                <div class="btn-container">
                                    <button type="submit" class="my-btn d-flex justify-content-center align-items-center gap-2 fw-normal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                        </svg>
                                        Login
                                    </button>
                                </div>
                                
                        </form>
                        <!-- =============== form =============== -->

                        <!-- =============== for signup =============== -->
                        <div class="text-center sign-up__contaner">
                                <p class="mb-1">Haven't sign up yer?</p>
                            <a href="{% url 'register' %}" class="color-primary sign-up__btn" >Sign Up</a>
                        </div>

                    </div>
                    <!-- card body ends -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============== login section ends =============== -->

{% endblock %}


{% block script %}
<script src="{% static 'scripts/authentication/script.js' %}"></script>
{% endblock %} 